{% extends 'base.html' %}

{% block content %}

<h1>Pokemon Color List</h1>
<h3>Enter a color to see which Pokemon are a match!</h3>

<div>
    <form action="/pokemon" method="POST" class="mui-form">
        <label for="pokecolor">Pokemon Color</label>
        <input type="text" class="form-control" id="pokecolor" name="pokecolor" placeholder="Ex: blue">
        <br>
        <button type="submit" class="mui-btn mui-btn-raised" value="Submit">
            Submit
        </button>
    </form>
</div>

<br>
<br>

<div>
    {% if error %}
        <p style="background-color: red;">
            Invalid color.
        </p>
    {% endif %}
    {% if pokemon %}
        <table>
            <tr>
                <th>Pokemon</th>
            </tr>
            <tbody>
                {% for i in pokemon %}
                    <tr>
                        <td>{{ i }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

{% endblock content %}